
@{
    ViewData["Title"] = "About ";
}

<h1>hello there, this is my about</h1>
<p>Daniel Perez</p>

<h2>Lorem, ipsum.</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde odit ut consectetur, iste doloribus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolorem voluptates labore nobis doloremque ex officia numquam culpa ipsa illo perspiciatis cum velit minima distinctio, voluptatem ratione suscipit eos quidem vel sapiente itaque. Aut, facere officiis! Dignissimos quaerat unde, commodi a, nobis officia assumenda, ea eaque consequuntur mollitia tenetur pariatur quidem dolorum? Repudiandae hic velit qui voluptatibus, facilis voluptatum sapiente et, accusantium ab at alias incidunt. Temporibus eveniet iure aspernatur nobis necessitatibus suscipit vel, nulla molestiae fuga maxime veniam enim voluptates earum non nesciunt eius consequuntur numquam perferendis! Quidem sequi unde aliquam dolores aliquid aut. Incidunt quasi mollitia enim similique?</p>


<h3>asdfc</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi eos laborum tempora aliquid aut maxime veritatis dolor explicabo laboriosam deleniti quisquam quibusdam eaque aliquam, ipsum quam, exercitationem dignissimos cum nam odio reprehenderit perferendis rem neque! Voluptatibus ex libero fuga dignissimos expedita sunt necessitatibus deserunt a repellendus ab hic, nemo sed!</p>

<h3>asdfc</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi eos laborum tempora aliquid aut maxime veritatis dolor explicabo laboriosam deleniti quisquam quibusdam eaque aliquam, ipsum quam, exercitationem dignissimos cum nam odio reprehenderit perferendis rem neque! Voluptatibus ex libero fuga dignissimos expedita sunt necessitatibus deserunt a repellendus ab hic, nemo sed!</p>

<h3>asdfc</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi eos laborum tempora aliquid aut maxime veritatis dolor explicabo laboriosam deleniti quisquam quibusdam eaque aliquam, ipsum quam, exercitationem dignissimos cum nam odio reprehenderit perferendis rem neque! Voluptatibus ex libero fuga dignissimos expedita sunt necessitatibus deserunt a repellendus ab hic, nemo sed!</p>

<h3>asdfc</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi eos laborum tempora aliquid aut maxime veritatis dolor explicabo laboriosam deleniti quisquam quibusdam eaque aliquam, ipsum quam, exercitationem dignissimos cum nam odio reprehenderit perferendis rem neque! Voluptatibus ex libero fuga dignissimos expedita sunt necessitatibus deserunt a repellendus ab hic, nemo sed!</p>



@section Scripts{
    <script src=""></script>
    @* this goes on the scripts secton, not on the body *@
}